{% extends '_layout_/base.html' %}

{% block main %}

  <div>app/signin</div>

  <a href="#" class="btnSignIn">
    <div>click to sign in</div>
  </a>

{% endblock main %}

{% block onReadyJs %}
  <script>
  $('.btnSignIn').click(function(){
      $.ajax({
        url: '{{ url_for('auth_signin') }}',
        type: "get",
        data: {},
        success: function(response) {
          if (response.status == 0) { {#error occurred#}
            console.error(response.message);
          } else {
            window.location.href = '{{ url_for('app_home') }}';
          }
        },
        error: function(jqXHR, exception) {
          //ajaxErrorHandler(jqXHR, exception);
          console.error(exception);
        }
      });
  });
  </script>
{% endblock %}

